  <div class="carousel-inner">
  {% for slide in slides %}

  <div class="item">
          <div style="background-image:url('{{ slide.slug }}');" class="fill">
            <div class="intro-body">
              <h4 data-wow-delay=".4s" class="wow fadeInUp">{{ slide.text1 }}</h4>
              <h1 class="wow fadeInDown">{{ slide.text1 }}</h1>
              <div data-wow-delay="1s" class="scroll-btn hidden-xs wow fadeInDown"><a href="#about" class="page-scroll"><span class="mouse"><span class="weel"><span></span></span></span></a></div>
            </div>
          </div>
        </div>

         {% endfor %}
         </div>