{% extends "index.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{# {% load i18n mptt_tags %} #}
{% load thumbnail %}
{% load content_tags %}

{% block support %}




    
    <!-- Services Section-->
    <section id="services" class="bg-img4 text-center">
      <div class="overlay"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3>Our Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elits</p>
          </div>
        </div>
        <div class="row">
          <div data-wow-delay=".2s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-analytics-outline"></i> ANALITICS</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
          <div data-wow-delay=".4s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-pie-outline"></i> DESIGN</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
          <div data-wow-delay=".6s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-stopwatch-outline"></i> CONSULTING</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
          <div data-wow-delay=".8s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-game-controller-b-outline"></i> ADVERTISING</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
          <div data-wow-delay="1s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big icon ion-ios-infinite-outline"></i>BRANDING</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
          <div data-wow-delay="1.2s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-stopwatch-outline"></i>DEVELOPMENT</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
          <div data-wow-delay="1.4s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-monitor-outline"></i>OPTIMIZATION</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
          <div data-wow-delay="1.6s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-settings"></i>CUSTOMIZATION</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Subscribe Section-->
    <section id="subscribe" class="section-small bg-img5 text-center">
      <div class="overlay-white"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-offset-2">
            <h3>Subscribe</h3>
            <h5>Sign-Up For News Updates and Alerts</h5>
            <!-- MailChimp Signup Form - Replace the form action in the line below with your MailChimp embed action! For more information on how to do this please visit the Docs!-->
            <form id="mc-embedded-subscribe-form" action="http://forbetterweb.us11.list-manage.com/subscribe/post?u=4f751a6c58b225179404715f0&amp;id=18fc72763a" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="" class="form-inline subscribe-form">
              <div class="input-group input-group-lg">
                <input id="mce-EMAIL" type="email" name="EMAIL" placeholder="Email address..." class="form-control"><span class="input-group-btn">
                  <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="btn btn-dark">Subscribe</button></span>
                <div id="mce-responses"></div>
                <div id="mce-error-response" style="display:none" class="response"></div>
                <div id="mce-success-response" style="display:none" class="response"></div>
              </div>
            </form>
            <!-- End MailChimp Signup Form--><img src="img/misc/mailchimp.png" alt="">
          </div>
        </div>
      </div>
    </section>
   
    
    <div class="section-small action bg-gray text-center"><a href="portfolio-masonry-4.html" class="btn btn-dark-border">View All Portfolio</a></div>
    <!-- Team Section-->
    <section id="team" class="bg-white text-center">
      <div class="container">
        <h3>MEET OUR LEADERS</h3>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <p><img src="img/team/avatar1.jpg" alt="" class="img-responsive center-block"></p>
            <h2 class="classic">James Daniels</h2>
            <ul class="list-inline">
              <li><a href="/"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="/"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="/"><i class="fa fa-google-plus fa-lg"></i></a></li>
            </ul>
            <h6>CEO</h6>
          </div>
          <div class="col-md-3 col-sm-6">
            <p><img src="img/team/avatar2.jpg" alt="" class="img-responsive center-block"></p>
            <h2 class="classic">Michael Williams</h2>
            <ul class="list-inline">
              <li><a href="/"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="/"><i class="fa fa-youtube fa-lg"></i></a></li>
              <li><a href="/"><i class="fa fa-steam fa-lg"></i></a></li>
            </ul>
            <h6>Manager</h6>
          </div>
          <div class="col-md-3 col-sm-6">
            <p><img src="img/team/avatar3.jpg" alt="" class="img-responsive center-block"></p>
            <h2 class="classic">Ethan Oliver</h2>
            <ul class="list-inline">
              <li><a href="/"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="/"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="/"><i class="fa fa-instagram fa-lg"></i></a></li>
            </ul>
            <h6>Developer</h6>
          </div>
          <div class="col-md-3 col-sm-6">
            <p><img src="img/team/avatar4.jpg" alt="" class="img-responsive center-block"></p>
            <h2 class="classic">Charlotte Harrison</h2>
            <ul class="list-inline">
              <li><a href="/"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="/"><i class="fa fa-github fa-lg"></i></a></li>
              <li><a href="/"><i class="fa fa-pinterest fa-lg"></i></a></li>
            </ul>
            <h6>Designer</h6>
          </div>
        </div>
      </div>
    </section>
 
    
    
 
   {% endblock %}